* {
    font-family: "Inter", sans-serif;

    box-sizing: border-box;
}

.my-container {
    width: 100%;
    max-width: 69.375rem;
    margin-inline: auto;
    padding-inline: clamp(1rem, 3vw, 2rem);
}
