* {
    font-family: "Inter", sans-serif;

    box-sizing: border-box;
}

.my-container {
    width: 100%;
    max-width: 69.375rem;
    margin-inline: auto;
    padding-inline: clamp(1rem, 3vw, 2rem);
}

.loader {
    width: 70px;
    height: 70px;
    border: 0px solid #cccfd0;
    border-top-color: #db3c34;
    border-radius: 50%;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loader:hover {
    animation: none;
    scale: 1.1;
    color: red;
}


:root {
    --bg-color: #ffffff;
    --text-color: #111827;
    --card-bg: #ffffff;
}

[data-theme="dark"] {
    --bg-color: #111827;
    --text-color: #f9fafb;
    --card-bg: #1f2937;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.card {
    background-color: var(--card-bg);
}


.linear {
    background-image: linear-gradient(45.64deg,
            #f3c94a,
            #ff6b8a 35%,
            rgb(255, 0, 0) 0%,
            green 35%,
            #c84dbb 60%,
            #6b5cff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 200% auto;
    animation: snake 4s ease-in-out infinite;
}

@keyframes snake {
    to {
        background-position: 200% center;
    }
}

.text {
    font-size: 2rem;
    color: white;
    text-shadow:
        0 0 10px #ff005e,
        0 0 20px #ff005e,
        0 0 30px #00d4ff;
}

.all-total-count {
    box-shadow:
        0 0 10px #2b7fff,
        0 0 10px #ff005e,
        0 0 10px #00d4ff;
}

.all-interview-count {
    box-shadow:
        0 0 10px #22c55e,
        0 0 10px #ff005e,
        0 0 10px #00d4ff;
}

.all-reject-count {
    box-shadow:
        0 0 10px #fb2c36,
        0 0 10px #ff005e,
        0 0 10px #00d4ff;
}

.all-total-count,
.all-interview-count,
.all-reject-count,
.card {
    position: relative;
    /* background: #1e293b; */
    padding: 2rem;

}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 40px solid #c126d1;
    border-left: 40px solid transparent;

}

.all-total-count::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 40px solid #2b7fff;
    border-left: 40px solid transparent;
}


.all-interview-count::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 40px solid #00c950;
    border-left: 40px solid transparent;
}


.all-reject-count::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 40px solid #fb2c36;
    border-left: 40px solid transparent;
}